html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */

div {
  background-color: red;
  color: white;
  text-align: center;
  padding: 450px;
  font-size: 30px;
  border: 3px;
  border-radius: 10px;
  margin: 50px;
  font-family: Arial, sans-serif;
  



  
}