/* General setup */
/*
Name: Sajad Mirpour
StudentID:100966297
Date: Feb 18 2025
File: p3assign3.css
Description: recreating the wesite page 
*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /* adding the fonts to be used*/
  @font-face {
    font-family:georgia;
    src: url('https://fonts.googleapis.com/css2?family=Georgia&display=swap');
  }
  @font-face {
    font-family:Arial;
    src: url('https://fonts.googleapis.com/css2?family=Arial&display=swap');
  }

  body {
    font-family: 'Georgia', serif;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 1px;
  }

  /* all headings in arial*/
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
  }

  h1{
    font-size: 3em;
    text-align: center;
    letter-spacing: 1px;
  }
    
  h2{
    font-size: 2em;
    letter-spacing: 1px;
  }

  /*link styling*/
  a:visited{
    color: #a66;
  }

  a:hover {
    text-decoration: none;
    color: #b84;
  }
  
  a:focus{
    text-decoration: none;
    color: #b84;
  }

  a:active{
    color: #8b3c3c;
  }
  
  /*did have to serach on google how to link external file for icon*/
  a[href^="http"]::after {
    content: '';
    background-image: url(../images/external-link-52.png);
    background-size: contain; 
    width: 10px; 
    height: 10px; 
    display: inline-block; 
    margin-left: 5px; /
  }

  


