/*
Name: Sajad Mirpour
StudentID:100966297
Date: Feb 18 2025
File: p3assign3.css
Description: recreating the website page 
*/
body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex; /* horizontal layout */
    gap: 20px; /* space between columns */
  }
  
  nav {
    background-color: #000;
    padding: .5em;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
    display: flex; /* horizontal layout */
    justify-content: space-between; /* space between links */
    align-items: center; /* center vertically */
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    position: sticky; /* styas at top once scrolled */
    top: 0;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid; /* grid layout */
    grid-template-columns: repeat(2, 1fr); /* two columns */
    gap: 2px; /* space between images */
  }

  .feature {
      width: 200px;
      float: left; /* float so it wraps he text around image  */
      margin-right: 1em; /* space between image and text */
      margin-left: 1em; /* space between image and text */
  }


